name: tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run  Docker Compose
        id: run_docker_compose
        run: |
          touch .env
          echo "${{ vars.ENV_FILE }}" > .env
          docker-compose -f docker-compose-tests.yml up --build -d test_app mongodb
        continue-on-error: true

      - name: Run Pytest
        id: run_pytest
        run: docker-compose -f ./ugc_service/tests/functional/docker-compose.yml up --build tests
        continue-on-error: true

      - name: Fail if pytest errors found
        run: |
          CONTAINER_ID=$(docker ps -aqf "name=tests")
          if [ -n "$CONTAINER_ID" ]; then
            EXIT_CODE=$(docker wait $CONTAINER_ID)
            if [ "$EXIT_CODE" == "1" ]; then
              echo "Test errors found. Exiting with error."
              exit 1
            fi
          fi

      - name: Stop Docker compose
        id: stop_docker_compose
        run: docker-compose -f docker-compose-tests.yml down -v
        continue-on-error: true
